apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.appName.worker }}
spec:
  replicas: {{ .Values.replicaCount.worker }}
  selector:
    matchLabels:
      app: worker
  template:
    metadata:
      labels:
        app: worker
    spec:
      containers:
      - name: {{ .Values.appName.worker }}
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        command: ["arq", "app.worker.WorkerSettings"]
        env:
        - name: SENTRY_DSN
          valueFrom:
            secretKeyRef:
              name: secret
              key: sentry-dsn
        - name: REDIS_HOST
          valueFrom:
            configMapKeyRef:
              name: redis-config
              key: host
        - name: REDIS_PORT
          valueFrom:
            configMapKeyRef:
              name: redis-config
              key: port
        ports:
        - containerPort: {{ .Values.service.worker.port }}
          name: metrics
---
# worker用のService
apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.appName.worker }}
  labels:
    app: worker
spec:
  type: ClusterIP
  selector:
    app: worker
  ports:
  - port: {{ .Values.service.worker.port }}
    targetPort: metrics
    name: metrics

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.appName.main }}
spec:
  replicas: {{ .Values.replicaCount.main }}
  selector:
    matchLabels:
      app: main
  template:
    metadata:
      labels:
        app: main
    spec:
      containers:
      - name: main
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        command: ["uvicorn", "app.main:app", "--host", "0.0.0.0", "--port", "8000"]
        env:
        - name: SENTRY_DSN
          valueFrom:
            secretKeyRef:
              name: secret
              key: sentry-dsn
        - name: REDIS_HOST
          valueFrom:
            configMapKeyRef:
              name: redis-config
              key: host
        - name: REDIS_PORT
          valueFrom:
            configMapKeyRef:
              name: redis-config
              key: port
        livenessProbe:
          httpGet:
            path: /health
            port: 8000
          initialDelaySeconds: 10
          periodSeconds: 15
        readinessProbe:
          httpGet:
            path: /health
            port: 8000
          initialDelaySeconds: 5
          periodSeconds: 10
        ports:
          - containerPort: 8000
            name: metrics

---
apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.appName.main }}
  labels:
    app: main
spec:
  type: {{ .Values.service.main.type }}
  selector:
    app: main
  ports:
  - port: 8000
    targetPort: 8000