 apiVersion: v1
kind: ConfigMap
metadata:
  name: redis-config
data:
  host: "redis" # Service名と同じにする
  port: "{{ .Values.redis.service.port }}"

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: redis
spec:
  resources:
    requests:
      storage: {{ .Values.redis.persistence.size }}
  volumeMode: Filesystem
  accessModes:
    - ReadWriteOnce

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis
  labels:
    app: redis
spec:
  selector:
    matchLabels:
      app: redis
  template:
    metadata:
      labels:
        app: redis
    spec:
      containers:
      - name: redis
        image: "{{ .Values.redis.image.repository }}:{{ .Values.redis.image.tag }}"
        imagePullPolicy: IfNotPresent
        ports: 
          - containerPort: 6379
        volumeMounts:
        - name: redis-data
          mountPath: /data
        readinessProbe:
          exec:
            command:  ["redis-cli", "ping"]
          initialDelaySeconds: 5
          timeoutSeconds: 3
      volumes:
        - name: redis-data
          persistentVolumeClaim:
            claimName: redis

---
apiVersion: v1
kind: Service
metadata:
  name: redis
  labels:
    app: redis
spec:
  selector:
    app: redis
  ports:
  - port: {{ .Values.redis.service.port }}
    targetPort: 6379